<section class="container">
  <div class="education-awards-and-acheivement">
    <div class="inner-flex">
      <div
        class="col-1"
        role="Educations"
        aria-labelledby="edu-awrd-acheivement"
      >
        <div class="title" id="edu-awrd-acheivement">Education</div>
        <article class="edu-cont">
          <ul>
            <li *ngFor="let item of getData()">
              <strong class="sub-heading">
                {{ item.getInstituteName() }}, {{ item.getLocation() }} <br />
                ({{ item.getUniversityBoard() }})
              </strong>
              <p>{{ item.getDuration() }} ({{ item.getStream() }})</p>
              <p>{{ item.getGradeType() }} ({{ item.getGrade() }})</p>
            </li>
          </ul>
        </article>
      </div>
      <div
        class="col-2"
        role="Awards and Acheivements"
        aria-labelledby="basic-info-r"
      >
        <div class="title" id="basic-info-r">Awards and Acheivements</div>
        <div class="inner-flex">
          <ul class="awards-list">
            <li *ngFor="let item of getAwardsData()">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
