.contacts {
    text-align: left;
    margin: 60px 0;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    line-height: 2;
}

.contacts a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.action {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action:hover {
    transform: scale(1.2);
}

ul li {
    cursor: pointer !important;
}

@media screen and (max-width:768px) {
    ul {
        padding: 0;
    }
}