::ng-deep .mat-mdc-text-field-wrapper,
.mat-mdc-form-field,
.mdc-text-field__input {
    background: transparent !important;
    color: #E1DCC9 !important;
}

.full-width {
    width: 100%;
}

.form-label {
    color: #E1DCC9 !important;
}

.button-submit {
    padding: 32px 0;
}

.button-submit>button {
    color: rgb(255, 119, 0);
    min-width: 150px;
    transition: 0.6s ease-in-out, color 0.6s ease-in-out;
}

.button-submit>button:hover {
    background-color: rgb(255, 119, 0);
    color: #E1DCC9;
}