.dialog-body {
    display: block;
    color: #465b66;
    position: relative;
    width: 100%;
    overflow: auto;
    max-height: 100vh;
}
.message-body {
    padding: 10px 20px;
    overflow: auto;
}
.close {
    position: absolute;
    color: #000;
    right: 15px;
    top: 5px;
    cursor: pointer;
    z-index: 4;
}