<section class="container">
  <div class="title" aria-label="Work Experience">Work Experience</div>
  <div class="inner-container-work" aria-label="Work Experience List">
    <div class="heading">
      <h4>August 2019 - present</h4>
      <h3>Mindtree Ltd</h3>
    </div>
    <div class="content-container">
      <article class="content">
        My Role was Angular Developer and responsibilty was to integrate rest
        api's and to implement Bussiness logics in client side application. We
        were given a task to migrate the old Application which was based on the
        angularJs1.x application to new technology stack using the latest
        version of Angular. We were also given the responsibility to do unit
        testing as well. I have used the oops structure, reactive form, rxjs,
        high charts and typescript features to accomplish my job. I have been
        awarded 4 times in row for my exeptional contribution towards the
        Project.
      </article>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>
  <div class="inner-container-work">
    <div class="heading">
      <h4>August 2019 - present</h4>
      <h3>Mindtree Ltd</h3>
    </div>
    <div class="content-container">
      <article class="content"></article>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>
</section>
