<section class="experience">
  <div class="title" aria-label="Work Experience">
    <h3> Work Experience</h3>
  </div>
  <div class="experience-container">
    <div class="experience">
      @for (item of model.data; track $index) {
      <ul>
        <li>
          <div class="heading">
            <div class="heading-container">
              <h4>{{ item.tenure }}</h4>
              <h3>{{ item.companyName }}</h3>
            </div>
          </div>
          <div class="content-container">
            <article class="content">
              <ul>
                @for (descList of item.descList; track $index) {
                <li> {{descList}} </li>
                }
              </ul>
            </article>
            <div class="btn-container">
              <button class="read-more" (click)="onReadMore(item.companyName, item.descList)">Read More</button>
            </div>
          </div>
        </li>
      </ul>
      }
    </div>
  </div>
</section>