.heading {
    width: 30%;
    height: 100%;
    background: #0F4C75;
    color: #FFFFFF;
    text-align: center;
}

.content {
    position: relative;
    height: 90px;
    overflow: hidden;
    padding: 10px 15px 0px;
}

.read-more {
    font-size: 14px;
    text-transform: lowercase;
    border-radius: 24px;
    border: 1px solid #1B262C;
    padding: 3px 5px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    display: block;
    width: 70px;
    margin: 10px auto 0;
    text-align: center;
    transition: all 300ms ease-in-out;
    background-color: #0563a2;
}

.read-more:hover {
    background-color: #0F4C75;
}

.btn-container {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
    position: absolute;
    bottom: 0px;
    height: 50px;
}

.content-container {
    width: 70%;
    overflow: hidden;
    max-height: 100%;
    position: relative;
}

.inner-container-work {
    text-align: left;
    background: #FFFFFF !important;
    margin: 10px 12%;
    box-shadow: 0 5px 25px 0 #0F4C75;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    height: 130px;
    padding-right: 5px;
}


.container {
    padding: 5% 3%;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0563a2;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0F4C75; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0563a2; 
  }

  .heading-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }