.content,
li {
    font-size: 12px !important;
}

.awards-and-achievements {
    display: flex;
    padding: 80px;
    flex-direction: column;
    color: #E1DCC9;
    justify-content: center;
    align-items: center;
}

.fw-16 {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .awards-and-achievements {
        padding: 10px 0 20px;
    }

    .timeline>li::before {
        left: 7px;
    }

    ul {
        padding: 10px;
    }

}

@media screen and (max-width: 768px) {
    .awards-and-achievements {
        padding: 20px 10px;
    }
}