<header class="nav-bar">
  <span class="brand" role="brand"
    ><h1 aria-label="Ravi Akhouri">My Resume</h1></span
  >
  <nav aria-label="main navigation">
    <ul class="nav-menu">
      <li class="nav-item">
        <a
          aria-label="about link"
          class="pointer-event-disabled"
          tabindex="0"
          href="#about-me-sec"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          aria-label="experience link"
          class="pointer-event-disabled"
          tabindex="0"
          href="#work-exp-sec"
          >Experience</a
        >
      </li>
      <li class="nav-item">
        <a
          aria-label="skills link"
          class="pointer-event-disabled"
          tabindex="0"
          href="#skills-sec"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <a
          aria-label="portfolio link"
          class="pointer-event-disabled"
          tabindex="0"
          href="#education-sec"
          >Educations</a
        >
      </li>
    </ul>
  </nav>
</header>
