.about-me-section {
    color: #E1DCC9;
    padding: 60px 24px;
}

h1 {
    color: rgb(255, 119, 0);
    margin-bottom: 60px;
}

.summary {
    font-size: 14px;
    margin: 30px 0;
}

.years {
    font-size: 40px;
}

i {
    font-size: 40px;
    color: rgb(255, 119, 0);
    font-weight: 1000;
}

ul {
    list-style-type: none;
    padding: 5px 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parameter-label {
    font-size: 12px;
    color: #E1DCC9;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    /* .years {
        font-size: 24px !important;
    } */

    ul li {
        max-width: 70px;
    }
}