<section class="about-me-section">
  <h1>About Me</h1>
  @if(model.data) {
  <p class="summary">{{model.data.summary}}</p>
  }
  <section class="experience-parameters">
    <ul>
      <li> <span class="years">6</span> &nbsp; <i class="bi bi-plus"></i> <br>
        <p class="parameter-label">Years of Experience</p>
      </li>
      <li> <span class="years">10</span> &nbsp; <i class="bi bi-plus"></i> <br>
        <p class="parameter-label">Projects</p>
      </li>
      <li> <span class="years">7</span> &nbsp; <i class="bi bi-plus"></i> <br>
        <p class="parameter-label">Rewards and Achievements</p>
      </li>
    </ul>
  </section>
</section>