<section class="head-container">
  <div class="overlay"></div>
  <div class="intro">
    <div class="inner-flex">
      <div class="col">
        <h2><strong>Hobbies</strong></h2>
        <ul>
          <li>Playing Badminton</li>
          <li>Coding</li>
          <li>Aquariums</li>
          <li>Electronics</li>
        </ul>
      </div>
      <div class="col">
        <h2><strong>Social Media</strong></h2>
        <ul>
          <li>
            GitHub :
            <a href="https://github.com/RaviAkhouri30"
              >https://github.com/RaviAkhouri30</a
            >
          </li>
          <li>
            linkedin :
            <a href="https://www.linkedin.com/in/ravi-akhouri-6696071a7/"
              >https://www.linkedin.com/in/ravi-akhouri-6696071a7/</a
            >
          </li>
          <li>
            linkedin :
            <a href="https://www.raviresume.com/"
              >www.raviresume.com/</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="align-text-center width-100">&copy; Ravi Akhouri</div>
  </div>
</section>
