.header {
    padding: 15px 12px 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.row {
    padding: 0 36px;
}

.title {
    margin-top: 5px;
    color: rgb(255, 119, 0);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.title:hover {
    color: #E1DCC9;
}

ul {
    list-style-type: none;
    padding: 5px 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

li {
    float: left;
    margin: 5px 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: #E1DCC9;
}

li:hover {
    color: rgb(255, 119, 0);
}

.profile-image-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle-design {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 15px solid rgba(255, 119, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle-design {
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 0 0 650px rgb(255, 119, 0);
    background-color: rgba(255, 119, 0, 0.3);
}

.container {
    min-height: 100vh;
    background: linear-gradient(90deg, #000000 0%, #1F150C 50%, #412D15 100%);
    padding: 0
}

.professional-skills-section {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-image {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.bi-chevron-left {
    position: absolute;
    font-size: 150px;
    color: rgb(255, 119, 0);
    font-weight: 1000;
    top: 0;
    left: 0;
}

.bi-chevron-right {
    position: absolute;
    font-size: 150px;
    color: rgb(255, 119, 0);
    font-weight: 1000;
    bottom: 0;
    right: 0;
}

.experience-graph {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .row {
        padding: 0 12px;
    }

    .title {
        margin-top: 10px;
    }

    ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        margin: 5px 8px;
    }
}

footer {
    padding: 36px 0;
    color: #E1DCC9;
    background-color: rgba(0, 0, 0, 0.4);
}

.developer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 119, 0);
}

.developer i {
    color: rgb(173, 0, 0);
}

h5 {
    color: rgb(255, 119, 0);
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#introduction-section {
    display: flex;
}

.mob-hr {
    display: none;
}

@media screen and (max-width: 500px) {
    #introduction-section {
        text-align: center;
    }

    .profile-image-container {
        background: transparent !important;
        background-color: none;
    }

    .inner-circle-design {
        box-shadow: none;
    }

    .outer-circle-design {
        width: 200px;
        height: 200px;
    }

    .profile-image-container {
        min-height: 300px;
    }

    .bi-chevron-left {
        position: absolute;
        font-size: 80px;
        color: rgb(255, 119, 0);
        font-weight: 1000;
        top: 0;
        left: 0;
    }

    .bi-chevron-right {
        position: absolute;
        font-size: 80px;
        color: rgb(255, 119, 0);
        font-weight: 1000;
        bottom: 0;
        right: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .mob-hr {
        display: inline-block;
    }

    .contact-details {
        display: flex;
        justify-content: center;
    }

    .header ul {
        display: none;
    }
}