<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="person-image">
        <div class="profile-pic">
        </div>
      </div>

      <app-about-me></app-about-me>
      <hr class="hr-border">
      <app-professional-skills></app-professional-skills>
    </div>
    
    <div class="col-8">
      <app-experience></app-experience>
      <hr>
      <app-education></app-education>
      <hr>
      <app-awards-and-achievements></app-awards-and-achievements>
      <hr>
      <app-hobbies></app-hobbies>
    </div>

  </div>