<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-4 overlay">

      <div class="person-image">
        <div class="profile-pic">
        </div>
      </div>

      <app-about-me></app-about-me>

      <div class="col-8">
      </div>
    </div>

    <!-- <app-head-section></app-head-section>
  <app-about-me id="about-me-sec"></app-about-me>
  <hr>
  <app-professional-skills id="skills-sec"></app-professional-skills>
  <hr>
  <app-experience id="work-exp-sec"></app-experience>
  <hr>
  <app-education-awards-and-acheivement id="education-sec"></app-education-awards-and-acheivement>
  <app-footer></app-footer> -->
  </div>