.education {
    display: flex;
    padding: 10px 20px 20px;
    flex-direction: column;
    color: #E1DCC9;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(255, 119, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.content,
li {
    font-size: 12px !important;
}


@media screen and (max-width: 500px) {
    .timeline>li::before {
        left: 7px;
    }

    ul {
        padding: 10px;
    }

}