<section class="head-container">
  <div class="overlay"></div>
  <div class="intro">
    <div class="inner-flex">
      <div class="image-container">
        <div class="ripple-image"></div>
      </div>
      <h2 class="name" role="title">I'm {{getData().getUserName()}}</h2>
      <h3 class="intro-info" role="title-info">{{getData().getDesignation()}}, {{getData().getRole()}}</h3>
      <button class="resume-btn" role="button" tabindex="0" (click)="onDownload()">Download Resume</button>
    </div>
  </div>
  <div class="social-icons">
    <div class="social-icon-container">
      <img src="/assets/github.svg" alt="github-link" class="social-icon" tabindex="0" />
    </div>
    <div class="social-icon-container">
      <img src="/assets/google.svg" alt="gmail-link" class="social-icon" tabindex="0" />
    </div>
    <div class="social-icon-container">
      <img src="/assets/linkedin.svg" alt="linkedin-link" class="social-icon" tabindex="0" />
    </div>
  </div>
</section>
